@import "tailwindcss";

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FIFA-26";
  src: url("/fonts/FIFA-26.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FWC-Black";
  src: url("/fonts/FWC2026-UltraCondensedBlack.8e6ba053.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FWC-Regular";
  src: url("/fonts/FWC2026-NormalRegular.77c3c249.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Heavy";
  src: url("/fonts/TVN-Qatar2022-Heavy.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Bold";
  src: url("/fonts/TVN-Qatar2022-Bold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Medium";
  src: url("/fonts/TVN-Qatar2022-Medium.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Dusha-FWC2018";
  src: url("/fonts/Dusha-FWC2018.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Brasil-WorldCup-2014";
  src: url("/fonts/Brasil-WorldCup-2014.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "South-Africa-2010";
  src: url("/fonts/South-Africa-2010.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ReGermany2006";
  src: url("/fonts/ReGermany2006.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Premier-League-2025-2026";
  src: url("/fonts/Premier-League-2025-2026.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FVH-PremierLeagueW01-Bold";
  src: url("/fonts/FVH-PremierLeagueW01-Bold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FVH-PremierLeagueW01-Regular";
  src: url("/fonts/FVH-PremierLeagueW01-Regular.otf") format("truetype");
  font-display: swap;
}

@theme inline {
  --font-body: "NotoSans", sans-serif;

  --font-wc2026: "FIFA-26", sans-serif;
  --font-wc2026-black: "FWC-Black", sans-serif;
  --font-wc2026-regular: "FWC-Regular", sans-serif;

  --font-wc2022-heavy: "Qatar-Heavy", sans-serif;
  --font-wc2022-bold: "Qatar-Bold", sans-serif;
  --font-wc2022-medium: "Qatar-Medium", sans-serif;

  --font-wc2018: "Dusha-FWC2018", sans-serif;

  --font-wc2014: "Brasil-WorldCup-2014", sans-serif;

  --font-wc2010: "South-Africa-2010", sans-serif;

  --font-wc2006: "ReGermany2006", sans-serif;

  --font-pl-23-24: "Premier-League-2025-2026", sans-serif;
  --font-pl-bold: "FVH-PremierLeagueW01-Bold", sans-serif;
  --font-pl-regular: "FVH-PremierLeagueW01-Regular", sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}