@import "tailwindcss";

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FWC-Black";
  src: url("/fonts/FWC2026-UltraCondensedBlack.8e6ba053.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FWC-Regular";
  src: url("/fonts/FWC2026-NormalRegular.77c3c249.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Heavy";
  src: url("/fonts/TVN-Qatar2022-Heavy.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Bold";
  src: url("/fonts/TVN-Qatar2022-Bold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Medium";
  src: url("/fonts/TVN-Qatar2022-Medium.otf") format("truetype");
  font-display: swap;
}

@theme inline {
  --font-body: "NotoSans", sans-serif;
  --font-wc26-black: "FWC-Black", sans-serif;
  --font-wc26-regular: "FWC-Regular", sans-serif;

  --font-wc22-heavy: "Qatar-Heavy", sans-serif;
  --font-wc22-bold: "Qatar-Bold", sans-serif;
  --font-wc22-medium: "Qatar-Medium", sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}