@import "tailwindcss";

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FIFA-26";
  src: url("/fonts/FIFA-26.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FWC-Black";
  src: url("/fonts/FWC2026-UltraCondensedBlack.8e6ba053.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FWC-Regular";
  src: url("/fonts/FWC2026-NormalRegular.77c3c249.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Heavy";
  src: url("/fonts/TVN-Qatar2022-Heavy.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Bold";
  src: url("/fonts/TVN-Qatar2022-Bold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Qatar-Medium";
  src: url("/fonts/TVN-Qatar2022-Medium.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Dusha-FWC2018";
  src: url("/fonts/Dusha-FWC2018.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Brasil-WorldCup-2014";
  src: url("/fonts/Brasil-WorldCup-2014.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "South-Africa-2010";
  src: url("/fonts/South-Africa-2010.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ReGermany2006";
  src: url("/fonts/ReGermany2006.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Premier-League-2025-2026";
  src: url("/fonts/Premier-League-2025-2026.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FVH-PremierLeagueW01-Bold";
  src: url("/fonts/FVH-PremierLeagueW01-Bold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FVH-PremierLeagueW01-Regular";
  src: url("/fonts/FVH-PremierLeagueW01-Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Product-Sans-Bold";
  src: url("/fonts/Product-Sans-Bold.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Product-Sans-Regular";
  src: url("/fonts/Product-Sans-Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ITC-Novarese-Book";
  src: url("/fonts/ITC-Novarese-Book.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ITC-Novarese-Std-Bold";
  src: url("/fonts/ITC-Novarese-Std-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ITC-Novarese-Ultra";
  src: url("/fonts/ITC-Novarese-Ultra") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Europa-Nuova-Bold";
  src: url("/fonts/Europa-Nuova-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Europa-Nuova-Regular";
  src: url("/fonts/Europa-Nuova-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Europa-Title-Bold";
  src: url("/fonts/Europa-Title-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DVN-UEFAEuro-HeavyNarrow";
  src: url("/fonts/DVN-UEFAEuro-HeavyNarrow.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "DFVN-BridgeType-Regular";
  src: url("/fonts/DFVN-BridgeType-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FS-PFBeauSansPro-Bold";
  src: url("/fonts/FS-PFBeauSansPro-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FS-PFBeauSansPro-Regular";
  src: url("/fonts/FS-PFBeauSansPro-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EuNerkoOne-Regular";
  src: url("/fonts/NerkoOne-Regular.ttf") format("truetype");
  font-display: swap;
}

@theme inline {
  --font-body: "NotoSans", sans-serif;

  --font-wc2026: "FIFA-26", sans-serif;
  --font-wc2026-black: "FWC-Black", sans-serif;
  --font-wc2026-regular: "FWC-Regular", sans-serif;

  --font-wc2022-heavy: "Qatar-Heavy", sans-serif;
  --font-wc2022-bold: "Qatar-Bold", sans-serif;
  --font-wc2022-medium: "Qatar-Medium", sans-serif;

  --font-wc2018: "Dusha-FWC2018", sans-serif;

  --font-wc2014: "Brasil-WorldCup-2014", sans-serif;

  --font-wc2010: "South-Africa-2010", sans-serif;

  --font-wc2006: "ReGermany2006", sans-serif;

  --font-pl-23-24: "Premier-League-2025-2026", sans-serif;
  --font-pl-bold: "FVH-PremierLeagueW01-Bold", sans-serif;
  --font-pl-regular: "FVH-PremierLeagueW01-Regular", sans-serif;

  --font-ps-bold: "Product-Sans-Bold", sans-serif;
  --font-ps-regular: "Product-Sans-Regular", sans-serif;

  --font-itc-novarese-ultra: "ITC-Novarese-Ultra", sans-serif;
  --font-itc-novarese-book: "ITC-Novarese-Book", sans-serif;
  --font-itc-novarese-std-bold: "ITC-Novarese-Std-Bold", sans-serif;

  --font-europa-title-bold: "Europa-Title-Bold", sans-serif;
  --font-europa-nuova-bold: "Europa-Nuova-Bold", sans-serif;
  --font-europa-nuova-regular: "Europa-Nuova-Regular", sans-serif;

  --font-euro2024: "DVN-UEFAEuro-HeavyNarrow", sans-serif;
  --font-euro2020: "DFVN-BridgeType-Regular", sans-serif;
  --font-euro2016-bold: "FS-PFBeauSansPro-Bold", sans-serif;
  --font-euro2016-regular: "FS-PFBeauSansPro-Regular", sans-serif;

  --font-copa-america: "EuNerkoOne-Regular", sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}